@using Microsoft.JSInterop

@inject IJSRuntime Js

@{
    var modalCenter = Center ? "modal-dialog-centered" : "";
}

<!-- Modal -->
<div @ref="_modalElement" class="modal fade @GetModalSizeClass()" id="@Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog @modalCenter">
        <div class="modal-content">
            <div class="modal-header">
                @Header
            </div>
            <div class="modal-body">
                @Body
            </div>
            <div class="modal-footer">
                @Footer
            </div>
        </div>
    </div>
</div>

<script>
    ﻿window.blazorExtensions = window.blazorExtensions || {};

    window.blazorExtensions.modal = {
            open: (el) => {
                //const instance = new bootstrap.Modal(document.getElementById(...)) // This didn't work because Blazor puts its empty comments in
                const instance = bootstrap.Modal.getOrCreateInstance(el);
                instance.show();
            },
            hide: (el) => {
                //const instance = new bootstrap.Modal(document.getElementById(...)) // This didn't work because Blazor puts its empty comments in
                const instance = bootstrap.Modal.getOrCreateInstance(el);
                instance.hide();
            }
    }
</script>



@code {

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public ModalSize Size { get; set; } = ModalSize.Default;

    [Parameter]
    public bool Center { get; set; } = true;

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Body { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }

    private ElementReference _modalElement;



    /// <summary>
    ///
    /// </summary>
    /// <returns></returns>
    public async Task ShowAsync()
    {
        await Js.InvokeVoidAsync("blazorExtensions.modal.open", _modalElement);
    }

    public async Task HideAsync()
    {
        await Js.InvokeVoidAsync("blazorExtensions.modal.hide", _modalElement);
    }

    private string GetModalSizeClass()
    {
        return Size switch
        {
            ModalSize.Small => "modal-sm",
            ModalSize.Large => "modal-lg",
            ModalSize.ExtraLarge => "modal-xl",
            _ => ""
        };
    }
}