
<div class="vstack align-items-center">
    <i class="bi bi-folder" style="font-size:3.5rem;"></i>
    <span>@Name</span>
</div>

@code {

    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Size { get; set; }
    [Parameter]
    public string DateModified { get; set; }
    [Parameter]
    public FileManagerItemType Type { get; set; }
    [Parameter]
    public EventCallback OnClick { get; set; }


    private async Task OnClickCore()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync();
        }
    }
}
