<div class="card">
    <div class="card-header">
        
        <div class="btn-group" role="group">

        </div>

        <div class="btn-group" role="group">
            <button class="btn btn-secondary" type="button">
                <i class="bi bi-arrow-clockwise"></i>
            </button>
            <button class="btn btn-secondary" type="button">
                <i class="bi bi-download"></i>
            </button>
            <button class="btn btn-secondary" type="button">
                <i class="bi bi-upload"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="row m-0">
            
            <div class="col col-auto">

            </div>
            
            <div class="col card p-0">
                
                <div class="card-header">

                </div>
                
                <div class="card-body row row-cols-auto">
                    <div class="col">
                        <FileManagerItem Name="pdf.pdf"></FileManagerItem>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>

@code {

}
