@page "/filemanager"
@using Brandgroup.BlazorExtensions.Bootstrap.Components.FileManager

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>FileManager</PageTitle>


<div class="subpage subpage-padded">
    <FileManager FileSystemProvider="_fsProvider" />
</div>






@code {


    private IFileSystemProvider _fsProvider;


    /// <summary>
    /// 
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        _fsProvider = new DiskFileSystemProvider(@"C:\Users\roslan\Documents\Git\BlazorExtensions");
    }

}
