@page "/filemanager"
@using Brandgroup.BlazorExtensions.Bootstrap.Components.FileManager

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>FileManager</PageTitle>


<div class="subpage subpage-padded">
    <FileManager />
</div>






@code
{
}
